@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sub-menu {
    top: 35px !important;
    width: 210px;
    z-index: 10;
  }
  .sub-menu li:first-child:hover .sub-sub-menu {
    display: block;
    top: 0;
    margin-left: 1px;
    width: 100%;
  }
}
